html {

    background-color: #e9f259;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #e9f259;
}

.titre {
    height: 10%;
    background-color: #9effb8;
}

p {
    font-size: 20px;
}

.titre p {
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: 50px;
    margin: 0;
} 

div .info {
    text-align: center;
    display: block;
    padding : 30px;
} 

.enfant1 {
    width: 100%;
    background-color: #74b5c7;
}

.enfant2 {
    width: 100%;
    background-color: #7cf4d3;
}

.enfant3 {
    width: 100%;
    background-color: #d46ce7;
}

.enfant4 {
    width: 100%;
    background-color: #e9f259;
}

img {
    height: 100px;
    width: 100px;
}

.credits {
    text-align: center; 
    padding-bottom: 40px;
    font-weight: bolder;
    font-size: 20px;
}